* {
    --ayu-orange: #ffcc66;
    --ayu-dark: #1f2430;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    white-space: pre-wrap;
}

.editor {
    display: flex;
    position: relative;
    border-radius: 5px;
    min-height: 400px;
    min-width: 400px;
    max-width: 80vw;
    background-color: var(--ayu-dark);
    font-size: 1rem;
    line-height: 1.4rem;
}

.editor-input,
.editor-output {
    text-align: left;
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 3.5rem;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    font-size: inherit;
    line-height: inherit;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.editor-input {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    resize: none;
    background-color: transparent;
    opacity: 1;
    color: transparent;
    /* color: #ccc; */
    border: none;
    caret-color: var(--ayu-orange);
}

.editor-output {
    z-index: 1;
    /* color: #fff; */
    /* color: transparent; */
}

.block {
    line-height: 1.2rem;
    margin: 0;
    line-height: inherit;
    display: inline;
}

.markup,
.function {
    color: #f28779;
}
.comment {
    color: #5c6773;
}

.tag {
    color: #5ccfe6;
}

.class,
.id,
.selector,
.number {
    color: #ffd580;
}

.var,
.misc {
    color: #cbccc6;
}

.entity {
    color: #73d0ff;
}

.media,
.unit {
    color: #ffa759;
}

.string {
    color: #bae67e;
}

.line-numbers {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 1rem 0.2rem;
    top: 0;
    left: 0;
    height: 100%;
}

.line-numbers li {
    text-align: right;
    margin: 0;
    padding: 0;
    color: #707A8C66;
    line-height: inherit;
    font-size: inherit;
    min-width: 3ch;
}

.line-numbers li.active {
    color: #707A8CCC;
}

/*  EXAMPLES  */

div + button:last-child {
    width: abs(calc((-100px)));
}

input[type='string'] {
    color: none;
}

@media screen and (max-width: 786px) {
    .class {
        border: none;
    }
}

@keyframes test {
}
